.CatImage {
    border-radius: 1vw;
    box-shadow: .5vw .5vw .5vw .5vw black;
    margin: 2vw;
    max-width: 30vw;
    max-height: 30vh;
}

@media screen and (max-width: 900px) {
    .CatImage {
        margin: 3vw;
    }
}

@media screen and (max-width: 500px) {
    .CatImage {
        border-radius: 3vw;
        margin: 3vw;
        max-width: 50vw;
        max-height: 40vh;
    }
}