.CatsDetails {
    color: gold;
    font-size: 1.75vw;
    width: 80vw;
    margin: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
}

.CatsDetails ul {
    border: thin solid silver;
    border-radius: 2vw;
    box-shadow: 0vw 0vw 1vw 1vw black;
    background: linear-gradient(120deg, darkslategrey, darkblue, darkred);
    padding: 1vw;
    list-style: none;
    font-size: 1.5vw;
    height: 20vh;
    width: 16vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: scroll;
}

@media screen and (max-width: 900px) {
    .CatsDetails {
        margin: 3vw 2vw;
    }

    .CatsDetails ul {
        height: 12vh;
        width: 25vw;
        font-size: 2.25vw;
    }
}

@media screen and (max-width: 500px) {
    .CatsDetails {
        width: 85vw;
        margin: 4vw 0vw;
        gap: 4vw;
    }

    .CatsDetails ul {
        padding: 3vw 2vw;
        height: 14vh;
        width: 40vw;
        font-size: 3.5vw;
    }
}